<form>
  <h2>이름 바꾸기</h2>
  <label for="username">바꿀 이름</label>
  <input type="text" name="username" /> <br />
  <div class="username error"></div>

  <button>바꾸기</button>
</form>

<script src="/js/changeusername.js"></script>
