<head>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"/>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<form>
  <div class="card-3d-wrap mx-auto">
    <div class="card-front">
      <div class="center-wrap">
        <div class="section text-center">
          <h4 class="pb-3">비밀번호 바꾸기</h4>
          <div class="form-group">
            <input type="password" name="currentpassword" placeholder="현재 비밀번호" autocomplete="current-password" class="form-style"/>
            <i class="input-icon uil uil-lock-alt"></i>
            <div class="currentpassword error"></div>
          </div>
          <div class="form-group mt-2">
            <input type="password" name="password" placeholder="변경할 비밀번호" class="form-style"/>
            <i class="input-icon uil uil-lock-alt"></i>
            <div class="password error"></div>
          </div>
          <div class="form-group mt-2">
            <input type="password" name="passwordconfirm" placeholder="변경할 비밀번호 확인" class="form-style"/>
            <i class="input-icon uil uil-lock-alt"></i>
            <div class="passwordconfirm error"></div>
          </div>

          <div class="space error"></div>
          <button class="btn">바꾸기</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="/js/changepassword.js"></script>
