<form>
  <h2>비밀번호 바꾸기</h2>

  <label for="currentpassword">현재 비밀번호</label>
  <input type="password" name="currentpassword" /> <br />
  <div class="currentpassword error"></div>

  <label for="password">변경할 비밀번호</label>
  <input type="password" name="password" /> <br />
  <div class="password error"></div>

  <label for="passwordconfirm">변경할 비밀번호 확인</label>
  <input type="password" name="passwordconfirm" /> <br />
  <div class="passwordconfirm error"></div>

  <div class="space error"></div>

  <button>바꾸기</button>
</form>

<script src="/js/changepassword.js"></script>
