<head>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"/>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<form>
  <div class="card-3d-wrap mx-auto" style="height: 320px;">
    <div class="card-front">
      <div class="center-wrap">
        <div class="section text-center">
          <h4 class="pb-3">회원 탈퇴</h4>
          <p>회원 탈퇴를 진행하시고 싶으시면 계정과 비밀번호를 입력해주세요</p>
          <div class="form-group">
            <input type="text" name="email" placeholder="이메일" autocomplete="username" class="form-style"/>
            <i class="input-icon uil uil-at"></i>
            <div class="email error"></div>
          </div>
          <div class="form-group mt-2">
            <input type="password" name="password" placeholder="비밀번호" autocomplete="current-password" class="form-style"/>
            <i class="input-icon uil uil-lock-alt"></i>
            <div class="password error"></div>
          </div>
          <div class="space error"></div>
          <button class="btn">탈퇴</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="/js/deleteAcount.js"></script>
