<form>
  <h2>회원 탈퇴</h2>
  <p>회원 탈퇴를 진행하시고 싶으시면 계정과 비밀번호를 입력해주세요</p>

  <label for="email">이메일</label>
  <input type="text" name="email" /> <br />
  <div class="email error"></div>

  <label for="password">비밀번호</label>
  <input type="password" name="password" /> <br />
  <div class="password error"></div>

  <div class="space error"></div>

  <button>탈퇴</button>
</form>

<script src="/js/deleteAcount.js"></script>
