<form>
  <h2>비밀번호 찾기</h2>

  <label for="email">이메일</label>
  <input type="text" name="email" /> <br />
  <div class="email error"></div>

  <label for="name">이름</label>
  <input type="text" name="name" /> <br />
  <div class="name error"></div>

  <label for="phone">전화번호</label>
  <input type="text" name="phone" oninput="oninputPhone(this)" maxlength="13" />
  <div class="phone error"></div>

  <div class="space error"></div>
  <div class="find error"></div>

  <button>찾기</button>
</form>

<script src="/js/forgotpassword.js"></script>
