<form>
  <h2>로그인</h2>

  <label for="email">이메일</label>
  <input type="text" name="email" required /> <br />
  <div class="email error"></div>

  <label for="password">비밀번호</label>
  <input type="password" name="password" required /> <br />
  <div class="password error"></div>

  <button>로그인</button>
</form>

<script src="/js/login.js"></script>
