<div id="quiz-container">
  <div id="game-setup">
    <div>
      <label for="category">스테이지를 골라주세요:</label>
      <select id="category">
        <option value="" disabled selected hidden>스테이지 선택</option>
      </select>
    </div>
    <button id="start-btn">게임 시작</button>
  </div>
  <div id="quiz" style="display: none">
    <div id="progress"></div>
    <div id="currentScore"></div>
    <div id="highScore">나의 최고 점수: <%= user.score %>점</div>
    <div id="question"></div>
    <div id="answers"></div>
    <div id="result"></div>
  </div>
</div>

<script src="/js/selectQuiz.js"></script>
