<div id="content">
  <div id="quiz-container">
    <div id="game-setup">
      <h1>객관식</h1>

      <h2>스테이지를 골라주세요!</h2>
      <div class="select">
        <select id="category">
          <option value="" disabled selected hidden>스테이지 선택</option>
        </select>
      </div>
      <button id="start-btn">게임 시작</button>
    </div>
    <div id="quiz" style="display: none">
      <h1>객관식</h1>
      <div id="progress"></div>
      <div id="currentScore"></div>
      <% if (user) { %>
      <div id="highScore"></div>
      <% } else {} %>
      <button id="hint-btn">HINT</button>
      <div id="hint"></div>
      <div id="question"></div>
      <div id="answers"></div>
      <div id="result"></div>
    </div>
  </div>

  <script src="/questions/data.js"></script>
  <script src="/js/selectQuiz.js"></script>
</div>
