<head>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"/>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<form>
  <div class="card-3d-wrap mx-auto" style="height: 560px;">
    <div class="card-front">
      <div class="center-wrap">
        <div class="section text-center">
          <h4 class="pb-3">회원가입</h4>
          <div class="form-group">
            <input type="text" name="email" placeholder="이메일" autocomplete="username" class="form-style"/>
            <i class="input-icon uil uil-at"></i>
            <div class="email error"></div>
          </div>
          <div class="form-group mt-2">
            <input type="text" name="name" placeholder="이름" class="form-style" />
            <i class="input-icon uil uil-user"></i>
            <div class="name error"></div>
          </div>
          <div class="form-group mt-2">
            <input type="text" name="username" placeholder="닉네임" class="form-style" />
            <i class="input-icon uil uil-user"></i>
            <div class="username error"></div>
          </div>
          <div class="form-group mt-2">
            <input type="text" name="phone" placeholder="전화번호" oninput="oninputPhone(this)" maxlength="13" class="form-style" />
            <i class="input-icon uil uil-phone"></i>
            <div class="phone error"></div>
          </div>
          <div class="form-group mt-2">
            <input type="password" name="password" placeholder="비밀번호" autocomplete="current-password" class="form-style"/>
            <i class="input-icon uil uil-lock-alt"></i>
            <div class="password error"></div>
          </div>
          <div class="form-group mt-2">
            <input type="password" name="passwordconfirm" placeholder="비밀번호 확인" autocomplete="current-password" class="form-style"/>
            <i class="input-icon uil uil-lock-alt"></i>
            <div class="passwordconfirm error"></div>
          </div>

          <div class="space error"></div>
          <button class="btn">회원가입</button>

        </div>
      </div>
    </div>
  </div>

</form>
<script src="/js/signup.js"></script>
