@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

body {
  height: 100vh;
  background: #212529;
  color: #fff;
}

#content {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 네비게이션 바 */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.navbar a {
  text-decoration: none;
  color: #ffb742;
  font-weight: 600;
  font-size: 32px;
}
#leaderboard a {
  text-decoration: none;
  color: #ffb742;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease;
}
#leaderboard a:hover {
  color: #fb8c00;
}

#profile {
  text-align: left;
}

.navbar h2 {
  color: #ffb742;
  font-weight: 600;
  font-size: 32px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: #ffb742;
}

.navbar ul li:last-child a {
  margin: 0;
  background-color: #ffb742;
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  color: #212529;
  transition: background-color 0.3s ease;
}

.navbar ul li:last-child a:hover {
  background-color: #fb8c00;
}

/* 메인 콘텐츠 */
.main {
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main h4 {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
}

.main h4 span {
  color: #ffb742;
}

.main p.title {
  font-size: 44px;
  font-weight: 600;
  color: #fff;
  margin-top: 8px;
}

.main p.subtitle {
  font-size: 16px;
  color: #ccc;
}

.game-type a {
  text-decoration: none;
  color: #212529;
}

.game-type {
  margin-top: 5px;
  padding: 0 50px;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.game-type .item {
  background: #292b2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  padding: 0 30px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.game-type .item:hover {
  border-color: #ffb742;
}

.game-type .item .icon {
  width: 46px;
  height: 46px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.game-type .item:hover .icon {
  background-color: #ffb742;
}

.game-type .item .icon i {
  font-size: 30px;
}

.game-type .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-type .item .info h3 {
  color: #ffb742;
  font-size: 28px;
}

.game-type .item .info p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.game-type .item > i {
  color: #fff;
  font-size: 30px;
  transition: color 0.3s ease;
}

.game-type .item:hover > i {
  color: #ffb742;
}

/* select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 21em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #ffb742;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #1c1917;
}

/* 게임 */
#quiz-container,
#leaderboard {
  width: 420px;
  background-color: #2b2e2e;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
#quiz-container h1,
#leaderboard h1 {
  color: #ffb742;
  margin-bottom: 20px;
}

#quiz-container h2 {
  margin-bottom: 30px;
}

#game-setup div {
  margin: 10px 0;
}

#game-setup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
}

#category,
#gametype {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1em;
  color: #333;
  background: #fff;
}

#start-btn,
#hint-btn,
#leaderboard-btn,
#quiz-container button,
#submit {
  padding: 12px 25px;
  background-color: #1c1917;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.1s ease;
  width: 100%;
  margin-top: 20px;
}

#start-btn:hover,
#hint-btn:hover,
#leaderboard-btn:hover,
#quiz-container button:hover,
#submit:hover {
  background-color: #ffb742;
  transform: scale(1.05);
}

#progress {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

#currentScore,
#highScore {
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}

#question {
  font-size: 1em;
  margin: 20px 0;
  color: #ffb742;
}

.answer-btn {
  width: calc(100% - 20px);
  padding: 10px 20px;
  margin-bottom: 12px;
  background-color: #1c1917;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 0.9em;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.1s ease;
}

.answer-btn:hover {
  transform: scale(1.05);
  color: #ffb742;
}

.answer-btn:disabled,
.answer-btn.correct,
.answer-btn.incorrect {
  cursor: default;
  transform: none;
}

#result {
  font-size: 1em;
  color: #fff;
  margin-top: 20px;
}

.correct {
  background-color: #4caf50 !important;
}

.incorrect {
  background-color: #f44336 !important;
}

#inputText {
  width: 340px;
  height: 40px;
  margin: 20px 0;
  font-size: 0.9em;
  border-radius: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

#leaderboard h2 {
  margin: 10px 0;
}
#leaderboard p {
  margin-bottom: 5px;
}

#leaderboard table {
  width: 100%;
  border-collapse: collapse;
}

#leaderboard th,
#leaderboard td {
  margin-top: 50px;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-radius: 12px;
}

#leaderboard-btn {
  margin-bottom: 20px;
}

#leaderboard th {
  background-color: #161616;
  color: #fff;
}

#leaderboard tr:hover {
  color: #ffb742;
}
/* 화면 크기 변화 */
@media screen and (max-width: 1100px) {
  .game-type {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 780px) {
  .main h4 {
    font-size: 24px;
  }
  .main p.title {
    font-size: 36px;
  }
  .main p.subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    justify-content: center;
  }
  .navbar h2 {
    display: none;
  }
  .main {
    margin-top: 50px;
    height: 320px;
    justify-content: start;
  }
  .main h4 {
    font-size: 20px;
  }
  .main p.title {
    font-size: 28px;
  }
  .main p.subtitle {
    font-size: 12px;
  }
}
